/* Space out content a bit */
body {
  padding-top: 30px;
  padding-bottom: 30px;
	background: #f5f5f5;
}

/* Customize container */
.container-fluid {
	background: #fff;
}
.container-fluid h1 {
	text-transform: capitalize;
}

@media (min-width: 768px) {
  .container-fluid {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Custom format for block-level elements */
.custom-group {
	background: #f5f5f5;
	border: 1px solid #333;
	border-radius: 4px;
	padding: 5px 10px;
}

/* For output control */
#total { text-align: right }
